!!!
%html{lang: "de", xmlns: "http://www.w3.org/1999/xhtml", "xmlns:o" => "urn:schemas-microsoft-com:office:office"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{charset: "UTF-8"}/
    %meta{content: "width=device-width,initial-scale=1", name: "viewport"}/
    %meta{name: "x-apple-disable-message-reformatting"}/
    %title
    :css
      table, td, div, h1, p {font-family: Arial, sans-serif;}
      p {line-height: auto;}
  %body
    %table#bodyTable{border: "0", cellpadding: "0", cellspacing: "0", height: "100%", style: "background-color: rgb(244, 244, 244)", width: "100%"}
      %tbody
        %tr
          %td.bodyCell{align: "center", valign: "top"}
            %table#root{border: "0", cellpadding: "0", cellspacing: "0", width: "100%"}
              %tbody.cheWrapper{"data-block-id" => "13"}
                %tr
                  %td.cheWrapperOuter{align: "center", valign: "top"}
                    %table{border: "0", cellpadding: "0", cellspacing: "0", role: "presentation", style: "max-width: 660px", width: "100%"}
                      %tbody
                        %tr
                          %td.cheWrapperInner{style: "background-color: #ffffff; background-position: center; background-repeat: no-repeat; background-size: cover", valign: "top"}
                            %table{align: "center", border: "0", cellpadding: "0", cellspacing: "0", "data-block-id" => "12", role: "presentation", width: "100%"}
                              %tbody
                                %tr.cheRow
                                  %td{style: "background-position: center; background-repeat: no-repeat; background-size: cover", valign: "top"}
                                    %table{border: "0", cellpadding: "0", cellspacing: "0", role: "presentation", width: "100%"}
                                      %tbody
                                        %tr
                                          %td.cheColumn{colspan: "12", "data-block-id" => "-4", style: "padding-top: 0; padding-bottom: 0", valign: "top", width: "100%"}
                                            %table{border: "0", cellpadding: "0", cellspacing: "0", role: "presentation", width: "100%"}
                                              %tbody
                                                %tr
                                                  %td.cheBlockContainer{style: "background-color: transparent; padding-top: 0; padding-bottom: 0; padding-right: 0; padding-left: 0", valign: "top"}
                                                    %table{border: "0", cellpadding: "0", cellspacing: "0", "data-block-id" => "2", role: "presentation", style: "background-color: transparent", width: "100%"}
                                                      %tbody
                                                        %tr
                                                          %td{style: "min-width: 100%; border-top: 20px solid transparent", valign: "top"}
                                                %tr
                                                  %td.cheBlockContainer{align: "center", style: "padding-top: 12px; padding-bottom: 12px; padding-right: 48px; padding-left: 48px", valign: "top"}
                                                    %img{alt: "Logo - Checktastic", "data-block-id" => "3", height: "auto", src: "https://fussballdart.mre-it.de/assets/logo_jfc.jpg", style: "width: 130px; height: auto; max-width: 100%; display: block", width: "130"}/
                                                %tr
                                                  %td.cheBlockContainer{style: "background-color: transparent; padding-top: 0; padding-bottom: 0; padding-right: 0; padding-left: 0", valign: "top"}
                                                    %table{border: "0", cellpadding: "0", cellspacing: "0", "data-block-id" => "4", role: "presentation", style: "background-color: transparent", width: "100%"}
                                                      %tbody
                                                        %tr
                                                          %td{style: "min-width: 100%; border-top: 20px solid transparent", valign: "top"}
                                                %tr
                                                  %td.cheBlockContainer{style: "padding-top: 12px; padding-bottom: 12px; padding-right: 24px; padding-left: 24px", valign: "top"}
                                                    #dataBlockId-5.cheText{"data-block-id" => "5", style: "width: 100%"}
                                                      %h1 Fussballdart-Turnier | Feldberg-Cup
                                                      %p
                                                        %br
                                                        ="Hallo #{@recipient_name}"
                                                        %br
                                                      %p.last-child
                                                        am Samstag den 29.06.2024 findet unser diesjähriges Fussballdart-Turnier statt. Außerdem wird am Samstag sowie am Sonntag auch der Feldberg-Cup ausgetragen.
                                                        %br
                                                        %strong Deine Unterstützung wäre sehr willkommen!
                                                        Du kannst dich als Helfer hier eintragen:
                                                        %br

                                                %tr
                                                  %td.cheBlockContainer{align: "center", style: "padding-top: 12px; padding-bottom: 12px; padding-right: 24px; padding-left: 24px;", valign: "top"}
                                                    %table{align: "center", border: "0", cellpadding: "0", cellspacing: "0", "data-block-id" => "6", role: "presentation"}
                                                      %tbody
                                                        %tr.cheStandardButton
                                                          %td.cheButton{align: "center", style: "background-color: #F97317; border-radius: 0; text-align: center;", valign: "top"}
                                                            %a{href: "https://form.everestwebdeals.co/?form=1FAIpQLSdhbyJaYkq-Next2SW8CHRiksTaZs2lqPS9vkVugDRLIOqRcw", style: "background-color: #32511d; border-radius: 0; border: 2px solid #75992b; color: #ffffff; display: block; font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif; font-size: 16px; font-weight: normal; font-style: normal; padding: 16px 28px; text-decoration: none; min-width: 30px; text-align: center; direction: ltr; letter-spacing: 0px;"}
                                                              Als Helfer teilnehmen

                                                %tr
                                                  %td.cheBlockContainer{style: "padding-top: 12px; padding-bottom: 12px; padding-right: 24px; padding-left: 24px", valign: "top"}
                                                    #dataBlockId-5.cheText{"data-block-id" => "5", style: "width: 100%"}
                                                      %p.last-child
                                                        Viele Grüße,
                                                      %p.last-child
                                                        JFC Eintracht Feldberg Schmitten e. V.
                                                %tr
                                                  %td.cheLayoutContainer{style: "padding-top: 8px; padding-bottom: 8px; padding-right: 8px; padding-left: 8px", valign: "top"}
                                                    %table#section_4bb712a90fb72ef961c9b56567b99ba7.cheFooterSection{align: "center", border: "0", cellpadding: "0", cellspacing: "0", "data-block-id" => "11", role: "presentation", width: "100%"}
                                                      %tbody
                                                        %tr.cheRow
                                                          %td{style: "background-position: center; background-repeat: no-repeat; background-size: cover;", valign: "top"}
                                                            %table{border: "0", cellpadding: "0", cellspacing: "12", role: "presentation", width: "100%"}
                                                              %tbody
                                                                %tr
                                                                  %td.cheColumn{colspan: "12", "data-block-id" => "-3", style: "padding-top: 0; padding-bottom: 0; margin-bottom: 12px; border-top: 1px solid #EEEEEE;", valign: "top", width: "100%"}
                                                                    %table{border: "0", cellpadding: "0", cellspacing: "0", role: "presentation", width: "100%"}
                                                                      %tbody
                                                                        %tr
                                                                          %td.cheBlockContainer{align: "center", style: "padding-top: 12px; padding-bottom: 12px; padding-right: 16px; padding-left: 16px", valign: "top"}
                                                                            #dataBlockId-9.cheText{"data-block-id" => "9", style: "display: inline-block; width: 100%"}
                                                                              %p.last-child
                                                                                %span{style: "font-size: 11px"}
                                                                                  %br/
                                                                                  %strong JFC Eintracht Feldberg Schmitten e. V.
                                                                                  %br/
                                                                                  Schmittener Straße 14 | 61389 Schmitten | vorstand@eintracht-feldberg.de
                                                                                  %br/
                                                                                  %a{href: "https://www.eintracht-feldberg.de/kontakt/impressum", style: "color: #000;"} Impressum
                                                                                  |
                                                                                  %a{href: "https://www.eintracht-feldberg.de/kontakt/datenschutzerklaerung", style: "color: #000;"} Datenschutz